@import url('https://fonts.googleapis.com/css2?family=Lato&family=Voltaire&display=swap');
*{
    box-sizing: border-box;
    padding: none;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --clr-light: #2589e4; 
    --clr-dark: #2b2a2b;
    --clr-lightgr: #959595
}

#page-container{
    position: relative;
    min-height: 100vh;
    height: auto;
    width: 100%;
    /* background: linear-gradient(#ffffff, #2789e3 ); */
    /* background: var(--clr-light); */
    background: rgba(43, 42, 43,1)
}
#content-wrap{
    margin-top: 125px;
    padding-bottom: 125px;
    height: auto;
}
/* Font-sizes */
h1{
    font-size: 3.5em;
}
h2{
    /* color: var(--clr-lightgr); */
    color: var(--clr-dark);
}
h3{
    font-size: 2.5em;
}
h4{
    font-size: 2em;
    color: var(--clr-lightgr)
}
p{
    font-size: 1.25em;
    color: var(--clr-lightgr)
}

/* Footer */
footer{
    width: 100%;
    height:  125px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--clr-dark);
    background-color: var(--clr-dark);
}
#logo-footer{
    width: 100px;
    margin: 10px;
}
footer p{
    margin-bottom: 0;
    color: var(--clr-light);
    font-size: 1em;
}
footer p:not(:first-child) {
    font-size: .60em;
}
#links-footer{
    display: flex;
}
#links-footer .inactive{
    pointer-events: none;
}
#links-footer a{
    font-size: 15px;
    border-right: var(--clr-light) 1px solid;
    display: block;
    min-width: 85px;
    padding: 0 2.5px 0 2.5px;
    display: flex;
    justify-content: center;
}
#links-footer a:last-of-type{
    border-right: none;
}
@media(max-width: 1150px){
    #links-footer{
        display: none;
    }
}
footer a{
    text-decoration: none;
    color: var(--clr-light);
}
footer a:hover{
    text-decoration: underline;
    color: var(--clr-light);
}
footer div{
    display: flex;
}
footer div>div{
    display: flex;
    justify-content: center;
}
footer div>div:first-of-type{
    display: flex;
    flex-direction: column;
}
@media(max-width:768px){
    footer p{

        padding: 0;
        margin-bottom: 0;
        font-size: 15px;
    }
    footer img{
        width: 40px
    }
}


/* Navbar */
nav{
    position: fixed !important;
    transition: font-size 0.2s, height 0.2s;
    top: 0;
    width: 100%;
    box-shadow: 0 0 5px var(--clr-lightgr);
    z-index: 100;
}
.bg-light{
    background-color: var(--clr-dark) !important;
}
.nav-link{
    color: var(--clr-light) !important;
    font-weight: bold;
    font-size: 20px;
    /* min-width: 140px; */
}
.nav-link:hover{
    background-color: var(--clr-dark);
    color: white !important;
}

#navbar-logo{
    transition: width 0.4s;
    max-width: 7em;
}
nav{
    padding: 10px;
    font-size: 1.50em;
}

@media (min-width:992px){
    nav{
        height: 125px;
    }
    #navbar-text{
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    .nav-link{
        display: flex;
        justify-content: center;
        align-items: center;
        transition: height 0.4s;
    }
    .nav-link:not(:last-child){
        /* border-right: 1px solid var(--clr-light); */
        padding: 8px 16px !important;
    }
    .nav-shrink{
        height: 60px;
        font-size: 1.25em;
    }
    .nav-shrink nav-link{
        height: 20px;
        transition: height 0.4s;
    }
    .nav-shrink #navbar-logo{
        width: 3.5em;
    }
}   

/* Sections - general */
section{
    min-height: 30vh;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: var(--clr-dark)
}
@media(max-width: 768px){
    section{
        margin-bottom: 15%;
    }
}
section:first-of-type{
    margin-top: 50px;
}
/* Home */
#intro{
    height: 80vh;
    width: 100%;
    background-image: url('./pictures/jefferson-santos-fCEJGBzAkrU-unsplash.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#intro-cover{
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom,  rgba(255, 255, 255, 1) 0%, rgba(233, 233, 233, 0.1) 100%); 
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1075px) {
    #intro-cover{
        background: linear-gradient(to bottom,  rgba(255, 255, 255, 1) 0%, rgba(233, 233, 233, 0.6) 100%); 
    }
}
@media (max-width: 678px) {
    #intro-cover{
        padding-top: 40px;        
    }
}
#intro-cover>div{
    margin: 5% 10%
}
#intro h2{
    font-size: 4em;
}
#intro-details>div:not(:first-of-type){
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}
@media(max-width: 768px){
    #intro-details{
        padding: 0
    }
    #intro-details>div{
        flex-direction: column;
        width: 100%;
    } 
    #intro h2{
        font-size: 2.5em;
    }
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    padding: 10px;
    box-shadow: 0 0 5px var(--clr-lightgr);
    margin: 5px;
    width: 325px;
}
@media(min-width:769px){
    .card:hover{
        box-shadow: 0 0 20px var(--clr-light);
    }
}
.inner-card{
    width: 300px;
    height: 325px;
    background-color: var(--clr-lightgr);
    border-radius: 0.25em;
    padding: 5%;
}
.card img{
    width: 300px;
    height: 325px;
    /* object-fit: cover; */
}
.inner-card>img{
    width: 250px;
}
.card a{
    text-decoration: none;
    color: var(--clr-light)
}
.card a:hover,
.card a:focus{
    text-decoration: underline;
}

.card div:not(.inner-card){
    height: 3em;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.card div>p{
    margin-top: 0;
    margin-bottom: 0;
}
@media(max-width:768px){
    .card{
        width: 100%;
    }
}


/* Contact Us */
#contact-us h2{
    margin: 0 auto;
    text-align: center;
}
#contact-us>div{
    margin-bottom: 0;
}
#contact-us-form{
    display: flex;
    width: 100%
}
#contact-us-form>form{
        width: 60%;
        color: var(--clr-lightgr)
}
#contact-us-form>*{
    padding: 5%
}
button[type=submit]{
    margin: 20px auto 0;
    width: 25%;
}
.btn-primary{
    background-color: var(--clr-lightgr);
    color: white;
    border: none;
}
.btn-primary:hover,
.btn-primary:focus{
    background-color: var(--clr-light);
    /* color */
    color: white
}
#map-social-section{
    min-height: auto;
    flex-direction: row;
}
#map-social-section h3{
    text-align: center;
}
#map-social-section>*{
    width: 50%
}
#map{
    width: 50%; 
    height: 300px;
}
#social-logos{
    margin: 0 auto;
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px
}
#social-logos a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px
}
#social-logos img{
    width: 50px;
    margin: 0 auto;
}

@media(max-width:768px) {
    #contact-us h3{
        text-align: center;
    }
    #contact-us-form{
        flex-direction: column;
    }
    #contact-us-form .row{
        flex-direction: column;
    }
    #contact-us-form .container{
        width: 95%;
    }
    #map-social-section{
        flex-direction: column-reverse;
    }
    #map-social-section>*{
        margin-top: 50px;
        width: 80%
    }
    #map-social-section>*:last-of-type{
        margin-bottom: 50px
    }
    #social-logos{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* STAFF */
#faculty{
    margin-top: 140px;
}
#faculty-headshots{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#faculty-headshots>div{
    min-height: 350px;
    width: 30%;
    min-width: 200px;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 4px var(--clr-dark);
}
#faculty-headshots>div>img{
    width: 90%;
}
@media (max-width: 768px) {
    #faculty-headshots>div{
        width: 100%
    }
    #faculty-headshots>div>img{
        width: 100%
    }
}

/* DONATE */
#donate-section{
    text-align: center;
}
#donate-section h1{
    margin-bottom: 25px;
}
#donate-section a{
    background-color: var(--clr-dark);
    color: white;
    text-decoration: none;
    height: 75px;
    width: 200px;
    font-size: 1.75em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
#donate-section a:hover{
    /* color */
    background-color: var(--clr-main);
}

/* DORM LIFE, SPECIAL PROGRAMMING/ TIYULIM  */

#dorm-life-section h1,
#special-prog-section h1{
    margin: 25px
}
#dorm-life-section>div,
#special-prog-section>div{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}
#dorm-life-section>div>div,
#special-prog-section>div>div{
    width: 50%;
    padding: 2.5%;
}
@media(max-width: 768px){
    #special-prog-section>div,
    #dorm-life-section>div{
        flex-direction: column;
    }
    #dorm-life-section>div>div,
    #special-prog-section>div>div{
    width: 100%;
}
}
/* FORMATTING FOR ALL NON-HOME PAGES: */
section.hero{
    width: 100%;
    height: 2vh;
    background: url('./pictures/jefferson-santos-fCEJGBzAkrU-unsplash.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.details-container{
    width: 90%;
    margin: 5% auto;
}
.details-container p{
    text-align: left;
}
.details-container h2{
    color: var(--clr-lightgr)
}
.details-container a{
    color: var(--clr-light);
    text-decoration: none;
}
.details-container a:hover{
    color: var(--clr-light);
    text-decoration: underline;
}
.link-button{
    font-size: 2em;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    border: none;
    border-radius: 3px;
    text-decoration: none;
    padding: 0.5em 0.75em;
}
.link-button:hover,
.link-button:focus{
    /* background-color: var(--clr-lightgr); */
    color: white
}
.down-arrow{
    width: 55px;
}
#down-arrow-white{
    display: none;
}
.link-button:hover #down-arrow-blue{
    display: none;
}
.link-button:hover #down-arrow-white{
    display: inline-block;
}
.link-button-dark{
    font-size: 2em;
    background-color: var(--clr-dark);
    color: white;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    padding: 0.25em 0.75em;
}
.link-button-dark:hover,
.link-button-dark:focus{
    background-color: #615192;
    color: white
}
/* ABOUT US */
#about-container{
    display: flex;
    flex-direction: column;
    width: 80%;
}
#about-container h4{
    text-align: center;
}
#about-container a{
    margin: 0 auto
}
/* All anchors - adjusted down to avoid being blocked by navbar */
.anchor{
    margin-top: -60px;
    padding-bottom: 60px;
}

/* Video page */

#video-container{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}
@media(max-width: 768px){
    #video-container{
        grid-template-columns: 1fr;
    }
}
iframe{
    width: 100%;
    height: 315px;
    margin: 5px
}
/* Samples Page */
#sheet-music{
    padding: 5%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#sheet-music .card{
    margin-bottom: 5%;
}
.card img.short-pic{
    height: 100px;
    object-fit: cover;
}
#sheet-music a{
    text-decoration: none;
    color: var(--clr-light)
}
#sheet-music a:hover{
    text-decoration: underline;
}
/* songs - audio player */
.song{
    margin-bottom: 5%;
}

/* Audio Samples */
#samples{
    margin: 5% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.accordion{
    min-width: 400px;
}
@media (max-width:768px) {
    .accordion{
        min-width: 95vw
    }
}
.accordion h4{
    color: var(--clr-dark)
}
.accordion-button{
    color: var(--clr-dark)
}
.accordion-button:not(.collapsed){
    color: var(--clr-dark)
}

/* Single */
#single-song{
    width: 90%;
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#single-song> img{
    width: 400px;
    box-shadow: 0 0 5px var(--clr-lightgr);
    margin: 0 5% 5% 5%;
}
/* Album */
#album>div:not(:first-of-type){
    width: 90%;
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#album>div>img{
    width: 100%;
    padding: 0 5% 5% 5%;
}
@media(max-width:1200px){
    #album>div{
        grid-template-columns: repeat(2,1fr);
    }
    #album>div>div:last-of-type{
        grid-column-start: 2;
        grid-row-start: 2;
    }
}
@media(max-width:800px){
    #album>div{
        grid-template-columns: 1fr
    }
    #album>div>div>.song{
        margin: 0 auto 5% auto;
        width: 75%;
    }
    #album audio{
        max-width: 100%;
    }
    #album>div>div:first-of-type{
        padding-top: 5%
    }
    #album>div>div:last-of-type{
        grid-column-start: 1;
        grid-row-start: 3;
    }
}

